 /* Barun Singh (1002064749)*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: grey;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="text"]::placeholder, input[type="date"]::placeholder {
    color: #aaa;
}

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #4CAF50;
    outline: none;
}
